.home-button {
    position:relative;
    top: 10px;
    left: 700px;
  }
  .image{
    position: relative;
    top: 20px;
     left: 150px;
  }
  .image,.home-button{
    display:inline-block;
  }
  #nav {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #nav ul {
    list-style: none;
    margin: 10;
    padding: 0;
    display: flex;
  }
  
  #nav li {
    margin-right: 30px;
  }
  
  #nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  .container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .container img {
    display: block;
    width: 1270px;
    height: 300px;
  }
  .content1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
    font-weight: bold;
  }
  .content2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
  .content3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }