.header{
    background-image: linear-gradient(to right, #160bec , #ff7d88);
    padding: 20px;
}
span{
    font-size: 25px;
    font-family: Georgia;
    padding-left: 15px;
}

p{
    padding: 5px;
    font-size: large;
    text-align: center;
}

.button-row{
    margin-left: 20px;
}


