<div class="product">
    <div class="white-rectangle">
        <div class="content4">
            {{content4}}
       </div>
       <div class="image1">
       <img src="http://localhost/star1.png" height="80" width="80" alt="Example Image"></div>
       <div class="content7">{{content7}}</div>
       <div class="image2">
       <img src="http://localhost/star1.png" height="80" width="80" alt="Example Image">
       </div>
       <div class="content6">{{content6}}</div>
       <div class="image3">
       <img src="http://localhost/star1.png" height="80" width="80" alt="Example Image">
       </div>
        <div class="content5">{{content5}}</div>
        <div class="content10">{{content10}}</div>
        <div class="content9">{{content9}}</div>
        <div class="content8">{{content9}}</div>
    </div>
    </div>